<!DOCTYPE html>
<title>Файлы готовые для загрузки</title>
<link rel="stylesheet" href="./static/style.css"></link>

<div class="nav">
    <h3 class="left">Файлы</h3>

    <form class="right" method=post>
        <input class="btn" type=submit value="Скачать все файлы"/>
    </form>
</div>


<table>
    {% for entry in entries  | sort(attribute="name") %}

    {% if not entry.is_file() %}
    <tr>
        <td>
            <a href="{{ url_for("dir_viewer", path=entry.path) }}">
                dir {{ entry.name }}
            </a>
        </td>
    </tr>

    {% else %}

    <tr>
            <td>
                <a href="{{ url_for("download_file", path=entry.path) }}">{{ entry.name }}</a>
            </td>
    </tr>
    {% endif %}
    {% endfor %}

</table>
