<!doctype html>
<html>
<head>
<title>Upload new File</title>
<link rel="stylesheet" href="/static/style.css"></link>
</head>
<body>
<div class="nav">
    <h3>Вставте шаблон</h3>
</div>

<form method=post enctype=multipart/form-data>
    <label class="btn">
        <input type=file name=file>
        Загрузить шаблон
    </label>
    <input class="btn" type=submit value="Сгенерировать файлы">
</form>

{% macro foreach(keys, items, index) -%}
    {% for key in keys %}
    <td>
        {{items[key][index]}}
    </td>
    {% endfor %}
{% endmacro %}

<table class="test">
    <tr>
    {% for item in items %}
        <th>{{item}}
            <input type="checkbox" value={{item}} />
        </th>
    {% endfor %}
    </tr>
    {% for i in items[keys[0]] %}
    <tr>
        {{ foreach(keys, items, loop.index0) }}
    </tr>
    {% endfor %}
</table>
<br>
</body>
</html>
